body {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 102, 178, 0.1);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6f61;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

p {
    background-color: #fff3e6;
    border: 1px solid #ff6f61;
    border-radius: 20px;
    color: black;
    text-align: center;
    width: 80%;
    padding: 20px 0;
}

.flower-selection {
    text-align: center;
    margin: 20px;
}

.flowers {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.flower {
    cursor: pointer;
    transition: transform 0.2s;
}

.flower:hover {
    transform: scale(1.1);
}

.selected-flower {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}

#flower-letter {
    background-color: #fff3e6; 
    border: 1px solid #ff6f61; 
    border-radius: 8px; 
    padding: 20px; 
    margin: 20px auto; 
    width: 80%; 
    max-width: 600px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: 'Georgia', serif;
    font-size: 20px; 
    line-height: 1.6; 
    text-align: left; 
    display: none; 
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ff6f61;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}